.sass-cache
.php_cs.cache

/.project
/.settings
/node_modules
/vendor
/www/posts/*
/www/pics/*
/www/config.ini
/www/_/cache/*
/www/_/js/*
/www/_/css/*
/www/_/dist/*
/www/_/img/*
/www/_/js/*
/www/_/tmpl/*
/www/pics
